[users.north]
password = "North@2026"
region = "North"

[users.east]
password = "East@2026"
region = "East"

[users.west]
password = "West@2026"
region = "West"

[users.south]
password = "South@2026"
region = "South"
